<div class="main-sec2">
  <!-- //header -->
  <header class="py-sm-3 pt-3 pb-2" id="home">
    <div class="container">
      <!-- nav -->
      <div class="top-w3pvt d-flex">
        <div id="logo">
          <h1>
            <a href="index.html"><span class="log-w3pvt">S</span>heta</a>
            <label class="sub-des">Angular Store</label>
          </h1>
        </div>

        <div class="forms ml-auto">
          <a routerLink="login" class="btn"
            ><span class="fa fa-user-circle-o"></span> ورود</a
          >
          <a routerLink="register" class="btn"
            ><span class="fa fa-pencil-square-o"></span> ثبت نام</a
          >
        </div>
      </div>
      <div class="nav-top-wthree">
        <nav>
          <label for="drop" class="toggle"
            ><span class="fa fa-bars"></span
          ></label>
          <input type="checkbox" id="drop" />
          <ul class="menu">
            <li class="active"><a href="index.html">صفحه صلی</a></li>
            <li><a href="about.html">درباره ما</a></li>
            <li><a href="shop.html">محصولات</a></li>
            <li><a href="contact.html">تماس باما</a></li>
            <li>
              <!-- First Tier Drop Down -->

              <a href="#"
                >گروه محصولات
                <span class="fa fa-angle-down" aria-hidden="true"></span
              ></a>
              <ul>
                <li>
                  <a href="coming.html" class="drop-text">گروه اول</a>
                </li>
                <li><a href="about.html" class="drop-text">گروه دوم</a></li>
                <li>
                  <a href="single.html" class="drop-text">گروه سوم</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- //nav -->
        <div class="search-form">
          <div class="form-w3layouts-grid">
            <form action="#" method="post" class="newsletter">
              <input
                class="search"
                type="search"
                placeholder="Search here..."
                required=""
              />
              <button class="form-control btn" value="">
                <span class="fa fa-search"></span>
              </button>
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </header>
  <!-- //header -->
</div>
