<section class="banner-bottom">
  <div class="container">
    <div class="content-grid">
      <div class="text-center icon">
        <span class="fa fa-user-circle-o"></span>
      </div>
      <div class="content-bottom">
        <form [formGroup]="loginform" (ngSubmit)="submitLoginForm()">
          <div class="field-group">
            <div class="content-input-field">
              <input type="email" placeholder="ایمیل" formControlName="Email" />
            </div>
          </div>
          <div class="field-group">
            <div class="content-input-field">
              <input
                type="Password"
                placeholder="کلمه عبور"
                formControlName="Password"
              />
            </div>
          </div>
          <div class="content-input-field">
            <button type="submit" class="btn">ورود</button>
          </div>
          <div class="list-login-bottom text-center mt-lg-5 mt-4">
            <a href="#" class="">By clicking Signup, I agree to your terms</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<swal
  #sweetAlert
  text=""
  title="اخطار"
  icon="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
>
</swal>
